.layout-index{
  display:grid;
  gap:3rem;

  .destacado{
    display:flex;
    flex-direction:column;
    gap:1.5rem;

    .galeria{
      display:grid;
      grid-template-columns:repeat(3,1fr);
      gap:1.5rem;
      justify-items:center;

      img{
        width:95%;
      }
    }
  }
}

/* Responsive Mobile */
@media(max-width:767px){

  .layout-index{

    .destacado{

      .galeria{
        grid-template-columns:1fr;
      }

    }

  }

}

/* Responsive Tablet */
@media(min-width: 768px) and (max-width: 1023px){
  .layout-index{
    .destacado{
      .galeria{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
      }

      .galeria img:last-child{
        grid-column: 1/-1;
        width: 50%;
      }
    }
  }
}