@use "variables" as *;

header{
  display:flex;
  justify-content:space-between;
  align-items:center;

  background-color:$color-fondo;
  padding:1.5rem 3rem;
}

main{
  display:block;
  padding:2rem;
}

footer{
  background-color:lightgray;
  font-style:italic;
  color:#1E2418;
  text-align:center;
  padding:1rem;
}

/* Responsive Mobile */
@media(max-width:767px){

  header{
    display:flex;
    gap:1.5rem;
    text-align:center;
    justify-content:space-around;
    align-items:center;
  }

  .titulo{
    font-size:1.5rem;
    letter-spacing:1px;
  }

}

/* Responsive Tablet */
@media(min-width: 768px) and (max-width: 1023px){
  header{
    padding: 1.5rem 2rem;
  }

  main{
    padding: 1.5rem;
  }
}