@use "variables" as *;
@use "mixins" as *;

.layout-productos{
  display:grid;
  grid-template-columns:1fr;
  grid-template-areas:
  "titulo"
  "productos";
  gap:2rem;

  .titulo{
    grid-area:titulo;
  }

  .productos{
    grid-area:productos;
  }
}

.categoria-productos{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:1.5rem;

  .subTitulo{
    grid-column:1/-1;
  }
}

.producto{
  @extend %card;

  text-align:center;
  @include sombra;

  animation: aparecerProducto 0.8s ease;

  transition: transform 0.3s;

  &:hover{
    transform:scale(1.05);
  }
}

.producto img{
  width:100%;
  height:auto;
  display:block;
}

@keyframes aparecerProducto{

  from{
    opacity:0;
    transform:translateY(20px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}

/* Responsive Mobile */
@media(max-width:767px){

  .categoria-productos{
    grid-template-columns:1fr;
    margin-top:5px;
  }

}

/* Responsive Tablet */
@media (min-width: 768px) and (max-width: 1023px){
  .categoria-productos{
    grid-template-columns: repeat(2,1fr);
  }
}