$color-fondo: #2f3a2f;
$color-titulo: #BFA44D;
$color-subtitulo: #bfae70;
$color-descripcion: darkgoldenrod;
$color-dorado: #c9a74d;
$color-seccion: #ebe1d9;

$sombra: 0 4px 10px rgba(0,0,0,0.15);

$radio: 6px;